@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(255, 255, 255);
  --background-rgb: rgb(0, 0, 0);
}

body {
  color-scheme: dark;
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  height: 100vh;
  width: 100vw;
}

.blended-image {
  -webkit-mask-image: radial-gradient(
    circle at center,
    black 60%,
    transparent 100%
  );
  mask-image: radial-gradient(circle at center, black 60%, transparent 100%);
}
